* {
    margin: 0;
    padding: 0;
}
body {
    font-weight: 400;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: lightblue;
}
header {
    background-color: rgb(28, 28, 65);
    height: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;;
    text-align: center;
    font-weight:600;
    padding: 5px;
}
#logo {
    border-radius: 30px;
    
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#container {
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 40%;
    padding: 10px;
    margin: 10px;
    margin-left: 22%;
    border-radius: 10px; 
    font-size: x-large;
    font-weight: 600;
    color: black;
    font-weight: 500;
}
#container a {
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
    font-weight: 800;
    text-decoration: none;
}
div ul {
    width: 50%;
    height: 200px;
    padding: 10px;
    margin: 50px;
    background: transparent;
    align-items: center;
}
footer {
    background-color: rgb(28, 28, 65);
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    margin-bottom: 0;
    padding:10px;
    text-align: center;
    font-weight: 500;
}
footer p {
    color: white;
    font-size: large;
}